@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Source-Sans-Pro';
    src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-Pro';
    src: url('/fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@layer base {

    body {
        @apply font-SourceSansPro bg-bodyBg text-base min-h-[100vh] transition-all duration-300;
    }
    a {
        @apply text-primary text-[17px];
    }

}

.container {
    @apply 2xl:max-w-[1240px] max-w-full mx-auto xl:pl-4 px-4;
}